@font-face {
  font-family: "Aspekta";
  font-weight: 350;
  font-style: normal;
  font-display: fallback;
  src: url("docs/fonts/Aspekta-350.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("docs/fonts/Aspekta-400.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("docs/fonts/Aspekta-500.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-weight: 650;
  font-style: normal;
  font-display: fallback;
  src: url("docs/fonts/Aspekta-650.woff2") format("woff2");
}

:root {
  --font-aspekta: Aspekta, sans-serif;
}

.font-aspekta {
  font-family: var(--font-aspekta);
  font-weight: 350;
}

@keyframes loading-spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: loading-spin 0.8s linear infinite;
}

.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  cursor: pointer;
}

.btn:disabled,
.btn-lg:disabled,
.btn-sm:disabled,
.btn-xs:disabled {
  cursor: not-allowed;
}
